
.jumbotron {
    padding: 20px;
    background-color:  #C8E713;
}

.image2 {
    float: right;
    margin: 10px;
}

.paragraph2 {
    text-align: right;
}

.image3 {
    float: left;
    margin: 10px;
}
/*  Menu CSS */
/*  ------ */
.map-menu {
    position: absolute;
    margin-left: 0% !important;
    color: #fff;
}

.main-menu { 

}

.menu-options {
    float: left;
    background-color: #00c6ff;
}

.menu-inset {
    float: right;
    background-color: #000;
}

.overview {
    text-align: center;
    padding: 13%;
}

.prohibited {
    text-align: center;
    padding: 13%;
}

.counseling {
    text-align: center;
    padding: 8%;
}

.parental {
    text-align: center;
    padding: 8%;
}

.ultrasound {
    text-align: center;
    padding: 8%;
}

.overlay-menu {
    margin-top: 350px;
}

.cpc{
    float: left;
    background-color: #c8e713;
    text-align: center;
    padding: 5%;
}

.cpc-inset {
    float: right;
    background-color: #808080;
}

.abortion {
    float: left;
    background-color: #e80882;
    text-align: center;
    padding: 5%;
}

.abortion-inset {
    float: right;
    background-color: #d3d3d3;
}

/*  Map Info CSS (includes section info, play, pause, dropdown) */
/*  ------ */
.menu-info {

}


/*  Map CSS */
/*  ------ */

.map {
    background-color: #fff;
    margin-left:26%;
    padding-left: 3%;
}

.us-map {
    padding-left: 6%;
}

.states {
    fill: #808080;
    stroke: #fff;
    stroke-width: 2px;
}

/* Graph CSS  */
/* ---------  */

.graphs {
    background-color: #00C6FF;
}

/* Analysis CSS  */
/* ------------  */

.analysis{
    padding-left: 20px;
    padding-right: 20px;
}

/* About CSS  */
/* ---------  */
.about {
    padding-left: 20px;
    padding-right: 20px;
}

/* HTML General CSS  */
/* ----------------  */

::selection {
    background: #c8e713; 
    color: #fff;
}
::-moz-selection {
    background: #c8e713; 
    color: #fff;
}

p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
}

body { 
    padding-top: 50px; 
}

a:link {
    color: #E80882;
    text-decoration: none;
}

a:visited {
    color: #E80882;
    text-decoration: none;
}

a:hover {
    color: #00C6FF;
    text-decoration: none;
}

a:active {
    color: #E80882;
    text-decoration: none;
}
